<MudCard Class="marbles-card">
    <MudCardContent>
        <MudGrid>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <CascadingValue Name="Deletable" Value="true" IsFixed="true">
                        @InputPanel
                    </CascadingValue>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="3" Class="section-card">
                    @if (OperatorText is not null)
                    {
                        <MudText Typo="Typo.h3" Class="function">@OperatorText</MudText>
                    }
                    else if (OperatorPanel is not null)
                    {
                        @OperatorPanel
                    }
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <ErrorBoundary @ref="_errorBoundary">
                        <ChildContent>
                            @OutputPanel
                        </ChildContent>
                        <ErrorContent>
                            @if (ErrorPanel is not null)
                            {
                                <div style="display: block">
                                    @ErrorPanel(@context)
                                </div>
                            }
                        </ErrorContent>
                    </ErrorBoundary>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>
@code {
    [Parameter]
    public string? OperatorText { get; set; }
    
    [Parameter]
    public RenderFragment? OperatorPanel { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment InputPanel { get; set; }
    
    [Parameter, EditorRequired]
    public required RenderFragment OutputPanel { get; set; }
    
    [Parameter]
    public RenderFragment<Exception>? ErrorPanel { get; set; }
    
    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
        base.OnParametersSet();
    }

}